/* nav bar */
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin: 0 auto; */
  /* max-width: 1047px; */
}

.left {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
  margin-left: 120px;
}
.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  font-weight: 600px;
  margin-left: 320px;
  position: relative;
  left: 200px;
}
.right-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
}
.right-2 {
  display: grid;
  grid-template-columns: repeat(2, 0.13fr);
  margin-top: 42px;
}
/* section 1 */

.section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 120px;
  margin-right: -320px;
  /* max-width: 1047px; */
}

.div-1 {
  max-width: 582px;
  height: 270px;
}
.div-2 {
  background-image: url("../images/Circle design.svg");
  background-repeat: no-repeat;
  /* width: 100%; */
}
.div-2 img {
  width: 475px;
  height: 475px;
}
.title-1 {
  font-size: 3.25rem;
  font-weight: 700;
  color: #3a3a3a;
}
.description {
  font-size: 1rem;
  font-weight: 600;
}
.btn-primary {
  color: white;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  background-color: #e02c6d;
}

/* section 2 */
.section-2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 1110px;
  height: 110px;

  margin: 0 auto;
  margin-top: 130px;

  border-top: 2px solid rgba(18, 17, 17, 0.046);
  border-bottom: 2px solid rgba(18, 17, 17, 0.044);
  justify-content: center;
  align-items: center;
}
/* section 3 */
.section-3 {
  max-width: 1047px;
  height: 1662px;
  margin: 0 auto;
}

.title-2 {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.75rem;
  font-weight: 600;
}
.popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.num {
  font-size: 1rem;
  font-weight: 700;
  color: #787885;
}
.description-2 {
  font-size: 1rem;
  font-weight: 700;
  color: #787885;
}
.title-3 {
  font-size: 1.75rem;
  font-weight: 500;
}
.collection {
  max-width: 329px;
  height: 576px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(14, 13, 14, 0.108);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.collection img {
  margin-top: 15px;
}
.see-more {
  color: #f3055c;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right;
  margin-top: 20px;
}

/* section 4 */
.section-4 {
  max-width: 1047px;
  height: 270px;
  margin: 0 auto;
  margin-top: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.last-title {
  font-size: 2.07rem;
  font-weight: 700;
}
/* footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.influence {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 6px;
  position: relative;
  top: 20px;
}
.copyright {
  font-size: 1rem;
  font-weight: 600;
}
footer img {
  filter: grayscale(100%);
  position: relative;
  bottom: 20px;
}
.hide {
  display: none;
}
/* media quw=ery */

@media screen and (max-width: 576px) {
  .right {
    display: none;
  }
  .left {
    text-align: center;
    display: flex;
  }
  .section-1 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

    margin: 0 auto;
  }
  .div-1 {
    order: 2;
  }
  .div-2 {
    margin-top: 200px;
    order: 1;
    height: 100%;
    width: 100%;
    width: 257px;
    width: 257px;
  }
  .section-2 {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .section-3 {
    height: 100%;
  }
  .popular {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
  }
  .see-more {
    margin: 0 auto;
    text-align: right;
    margin-right: 22px;
  }
  .section-4 {
    height: 100%;
    margin-left: 13px;
    margin-top: 70px;
    grid-template-columns: repeat(1, 1fr);
  }
  .first {
    order: 2;
    margin-top: 40px;
  }
  .second {
    order: 1;
  }
  footer {
    width: 100%;

    height: 100%;
  }
}
